@using MS.Afterworks.HappyFace.ViewModels
@model MS.Afterworks.HappyFace.ViewModels.SmileCountViewModel
@{
    ViewData["Title"] = "Accueil 'Happy Smile' :)";
}

<form asp-controller="Home" asp-action="Smile" method="post">
    <div class="row">
        <div class="hf-smileycontainer">
            <button type="submit" class="fa fa-smile-o hf-bigsmiley btn btn-success" formaction="Home/Smile" />
            <button type="submit" class="fa fa-frown-o hf-bigsmiley btn btn-danger" formaction="Home/UnhappySmile" />
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="text-center">
            <strong>Pouvez-vous nous décrire votre expérience : </strong> <input class="text-info" asp-for="Smile.Why" />
        </div>
    </div>
    <div class="row text-center" style="margin-top: 20px">
        <p>Vous êtes <b>@Model.SmileUpCount</b> personnes heureuses et <b>@Model.SmileDownCount</b> personnes qui le seront prochainement !</p>
    </div>
</form>
