@model MS.Afterworks.HappyFace.Core.Models.TextAnalyticsResult
<div>
    <h1 class="bg-success">Vous nous avez envoyé un Smile ! Merci ! La journée n'en sera que meilleure !</h1>
    @await Html.PartialAsync("_SmileCommentAnalyticsResult", Model)
</div>
