/MS.Afterworks.HappyFace/obj/
/MS.Afterworks.HappyFace/bin/
/.vs/
/MS.Afterworks.HappyFace/bin/
/MS.Afterworks.HappyFace/bin/
/obj/
/MS.Afterworks.HappyFace/obj/
/MS.Afterworks.HappyFace/obj/
/MS.Afterworks.HappyFace.Infrastructure/bin/Release/netcoreapp2.0
/MS.Afterworks.HappyFace.Infrastructure/obj
/MS.Afterworks.HappyFace.Core/obj
/MS.Afterworks.HappyFace.Core/bin/Release/netcoreapp2.0
