@model MS.Afterworks.HappyFace.Core.Models.TextAnalyticsResult
@if (Model != null)
{
    <div class="row text-center">
        <div>Langue détectée : <b>@Model.Language</b></div>
        <div>Mot clé de la phrase : <b>@String.Join('-', Model.KeyPhrases)</b></div>
        <div>Sentiment (Mauvais 0 <=> 1 BON) : <b>@Model.ScoreSentiment</b></div>
    </div>
}